
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
}

header {
	margin: 0;
	padding: 10px;
	background-color: midnightblue;
	color: white;
	text-align: center;
}

header h1 {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	line-height: 1;
}

main {
	display: flex;
}

main article {
	width: 80%;			
	padding: 15px;
}

aside {
	width: 20%;
	padding: 15px;
	background-color: lightsteelblue;
	text-align: center;
}

.main {
	padding: 25px;
}

.row {
	width: 100%;
	text-align: center;
}

.cell {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 3px 3px 0;
	padding: 15px 0 0 0;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1;
	background-color: sandybrown;
	background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	color: red;
	cursor: pointer;
	vertical-align: middle;
	border-radius: 2px;
	text-shadow: black 2px 2px 2px;
}

.cell:hover {
	background-color: lightblue;
}

.opened,
.opened:hover {
	background-color: blue;
	background: linear-gradient(to bottom, rgba(37,70,204,1) 0%, rgba(0,0,255,1) 100%);
	cursor: default;
	text-shadow: none;
	font-size: 1rem;
}

.opened {
	color: white;
}

.val-0 {
	color: transparent;
}

.val-1 {
	color: white;
}

.val-2 {
	color: yellow;
}

.val-3 {
	color: orange;
}

.val-4 {
	color: red;
}

.val-5 {
	color: purple;
}

.val-6 {
	color: violet;
}

.val-7 {
	color: grey;
}

.val-8 {
	color: black;
}

.val-mine,
.val-mine:hover {
	background: radial-gradient(ellipse at center, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 35%, rgba(255,0,0,1) 40%, rgba(255,0,0,1) 100%);
	color: transparent;
}

.val-error,
.val-error:hover {
	color: red;
	font-size: 1.3rem;
	text-shadow: black 2px 2px 2px;
}

#scoreboard {
	background-color: black;
	color: red;
	font-size: 1.5rem;
	margin: 0 auto;
	font-weight: bold;
	padding: 5px;
	max-width: 80px;
}

button {
	display: block;
	width: 100%;
	margin: 10px auto;
	padding: 10px;
	max-width: 130px;
	background-color: white;
	border: none;
	color: #444;
	text-transform: uppercase;
	font-size: 0.7rem;
	cursor: pointer;
}

button:hover {
	background-color: lightgrey;
}
